<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="bbdy">
      <div class="heading">
        <i class="fa-solid fa-address-book"></i>
        <h1 style="text-align: center">Contact List</h1>
      </div>

      <div class="list">
        <ul>
          <% for( let i of contact_List) { %>

          <li class="line">
            <p><%= i.name %></p>
            
             
            <!-- <p> <%= i.email %> </p> -->

            <p>
              <%= i.phone %>
              <span id="delete-span">
                <a href="/delete-contact/?uId=<%= i.uId %>">
                  <i class="fa-solid fa-trash"></i>
                </a>
                
              </span>
            </p>
          </li>

          <%} %>
        </ul>
      </div>

      <!-- ------------------------------------------------- -->
      <!-- ------creating form --------- -->
      <!-- ------------------------------------------------- -->

      <!-- whenever you send data to server , send it into form of object  -->

      <!-- name attribute show the key name for example "phone" is the key name -->
      <div>
        <form class="formm" action="/create-contact" method="POST">
          <div class="left-form">
            <input type="text" name="name" placeholder="Enter Name" required />

            <input
              type="number"
              name="phone"
              placeholder="Enter phone"
              required
            />

            <input type="mail" name="email" placeholder="Enter emial" />
          </div>
          <div class="right-form">
             
            <button type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>

    <!-- adding js script "homes.js" -->
    <script type="text/javascript" src="/js/home.js"></script>

    <script
      src="https://kit.fontawesome.com/3411fcf544.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
